

*{
    box-sizing: border-box;
}

*:focus {
    outline: none;
}


body{
    text-align: center; 
    margin: 0;
    padding: 0; 
}
.panel{
    padding: 20px 40px; 
    width: $panel-width;
    margin:auto;
    
} 

.panel-primary{
    background-color: #EDF2EF;
} 